/* ----------------------------------- GLOBAL ----------------------------------- */

main { margin-top: 55px; padding-top: 2em; }
.clear { clear: both; }

.btn-link.focus, .btn-link:focus, .btn-link:hover { text-decoration: none; box-shadow: none; }
a:focus, a:hover { text-decoration: none; color: deepskyblue; }
ul.navbar-nav li.active a.nav-link { color: white; opacity: 1; }

h1 { margin-top: 80px; }
h2.dex-heading { text-align: center; }
h3.show-hide { text-align: center; }
h4.usage-key { color: black;  margin-top: 10px; }

nav#primaryNav .container-fluid { justify-content: center; }
.navbar-brand { margin-right: 0; text-align: center; }
nav button.navbar-toggler { padding: 0.25rem; position: fixed; left: 0.5em; top: 0.5em; }
nav button.dropdown-toggle img { filter: invert(99%) sepia(37%) saturate(1517%) hue-rotate(176deg) brightness(123%) contrast(100%); }
nav .dropdown { position: fixed; right: 0.5em; top: 0.5em; }
nav .signin { position: fixed; right: 0.5em; top: 1em; }

nav.expand-collapse .container { justify-content: center; margin-bottom: 1em; }
nav.expand-collapse .navbar-nav { flex-direction: row; flex-wrap: wrap; justify-content: center; }
nav.expand-collapse .nav-item { margin: 0 1em; }
nav.expand-collapse .nav-item img { filter: invert(27%) sepia(96%) saturate(2456%) hue-rotate(208deg) brightness(99%) contrast(100%); }
.nav.expand-collapse .nav-link:focus, nav.expand-collapse .nav-link:hover, nav.expand-collapse .nav-link:active { cursor: pointer; }
.nav.expand-collapse .nav-link:focus img, nav.expand-collapse .nav-link:hover img, nav.expand-collapse .nav-link:active img { filter: invert(24%) sepia(84%) saturate(1707%) hue-rotate(207deg) brightness(97%) contrast(91%); cursor: pointer; }

/* --------------------------------- DEX BOXES ---------------------------------- */

.dex-box { padding: 0; margin: 0 auto 30px auto!important; max-width: 535px; }
.dex-box .btn { padding: 0; margin: 0; }
.dex-box .btn-link { text-decoration: none; }
.dex-box h3 { margin: 0; }

.dex-box .card-header img.collapse-arrow { float: right; color: #30a7d1; font-size: 1.25rem; margin-top: 0.3em; transition: transform 0.35s ease-in-out; filter: invert(27%) sepia(96%) saturate(2456%) hue-rotate(208deg) brightness(99%) contrast(100%); }
.dex-box .card-header img.collapse-arrow.turned { transform: rotate(180deg); }
.dex-box .card-header img.collapse-arrow:focus, .dex-box .card-header img.collapse-arrow:hover, .dex-box .card-header img.collapse-arrow:active { filter: invert(24%) sepia(84%) saturate(1707%) hue-rotate(207deg) brightness(97%) contrast(91%); cursor: pointer; }

.dex-col { padding: 0; }
.dex-entry { padding: 0 0.25rem; border: none; margin-right: 0!important; margin-left: 0!important; }
.dex-entry .card-body { padding: 0; margin-bottom: 15px!important; }
.dex-entry img { max-width: 100%; height: auto; padding-bottom: 5px; display: block; margin: 0 auto; opacity: 0.1; }
.dex-entry h4 { color: lightgray; }
h4.dex-entry-number { text-align: center; font-weight: bold; font-size: 0.75em; margin-bottom: 0; }
h4.dex-entry-name { text-align: center; font-size: 0.7em; text-transform: capitalize; margin-bottom: 0; }
h4.dex-entry-form { text-align: center; font-size: 0.6em; text-transform: capitalize; margin-bottom: 0; }

.caught img { opacity: 1; }
.caught h4 { color: black; }

.trade:before { content: url(/assets/icons/trade.svg); height: 1.5em; width: 1.5em; position: absolute; left: 1em; z-index: 10; }
.place:before { content: url(/assets/icons/box.svg); height: 1.5em; width: 1.5em; position: absolute; right: 1em; z-index: 10; }

/* --------------------------------- EVOLUTIONS --------------------------------- */

table.evo-table { width: auto; }
table.evo-table thead>tr>th { text-align: center; font-size: 0.8em; }
table.evo-table tbody>tr>th { text-align: right; }
table.evo-table thead>tr>th>span { font-weight: normal!important; }
table.evo-table img { max-width: 100px; height: auto; }
table.evo-table input { height: 16px; width: 16px; margin-left: -2.5rem!important; }

/* ------------------------------- MEDIA QUERIES -------------------------------- */

@media only screen and (max-width: 495px) {
    .dex-entry { padding: 0 2px; } 
    h4.dex-entry-name { font-size: 0.6em; padding: 0; }
    h4.dex-entry-form { font-size: 0.55em; padding: 0; }
}

@media only screen and (max-width: 450px) {
    .dex-entry { padding: 0 2px; } 
    h4.dex-entry-name { font-size: 0.55em; padding: 0; }
    h4.dex-entry-form { font-size: 0.55em; padding: 0; }
}

@media only screen and (max-width: 400px) {
    h4.dex-entry-name { font-size: 0.5em; padding: 0; }
    h4.dex-entry-form { font-size: 0.5em; padding: 0; }
}

@media only screen and (min-width: 576px) {
	nav .dropdown, nav .signin { right: calc(((100vw - 540px) / 2) + 0.75rem); }
	nav button.navbar-toggler { left: calc(((100vw - 540px) / 2) + 0.75rem); }
}

@media only screen and (min-width: 768px) {
	nav .dropdown, nav .signin { right: calc(((100vw - 720px) / 2) + 0.75rem); }
	nav button.navbar-toggler { left: calc(((100vw - 720px) / 2) + 0.75rem); }
}

@media only screen and (min-width: 992px) {
	nav#primaryNav .container-fluid { max-width: 960px; }
	nav .dropdown, nav .signin { position: static; }
	nav .dropdown ul { right: auto!important; }
	.navbar-brand { margin-right: 1rem; }
	h4.dex-entry-name { font-size: 0.6em; padding: 0; }
    h4.dex-entry-form { font-size: 0.5em; padding: 0; }
}

@media only screen and (min-width: 1200px) {
	nav#primaryNav .container-fluid { max-width: 1140px; }
	h4.dex-entry-name { font-size: 0.7em; padding: 0; }
    h4.dex-entry-form { font-size: 0.6em; padding: 0; }
}

@media only screen and (min-width: 1400px) {
	nav#primaryNav .container-fluid { max-width: 1320px; }
}

@media only screen and (min-width: 1550px) {
	nav#primaryNav .container-fluid { max-width: 1470px; }
	.row-cols-xxxl-3>* { flex: 0 0 auto; width: 33.3333333333%; }
	.container { max-width: 1470px; }
}